.camera-nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  list-style: none;
  font-size: 30px;
  text-transform: uppercase;
  margin-top: 5%;
  position: relative;
  border: 1px solid rgb(133, 54, 1);
  border-radius: 3px;
  width: 80%;
  margin: 0% auto auto auto;
  overflow-y: scroll;

  h2 {
    font-size: 35px;
    background-color: rgb(133, 54, 1);
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid rgb(31, 31, 31);
  }
}

.camera {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 22px;

  &:hover {
    background-color: rgb(133, 54, 1);
    cursor: pointer;
  }
}

@media screen and (max-width: 1650px) {
  .camera-nav {
    height: 600px;
  }
}

@media screen and (max-width: 1450px) {
  .camera-nav {
    height: 500px;
    h2 {
      font-size: 25px;
    }

    .camera {
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .camera-nav {
    margin-top: 5%;
    width: 60%;
    height: 245px;
    h2 {
      font-size: 22px;
    }

    .camera {
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 650px) {
  .camera-nav {
    width: 80%;
    h2 {
      font-size: 18px;
    }

    .camera {
      font-size: 14px;
    }
  }
}
